<div id="hero">
    <div class="image-text">
        <h1>ColourPerfect</h1>
        <h2>Find your perfect colour match makeup.<br> Look fabulous!</h2>
    </div>
</div>

<section id="suggestions">
    <div class="container">
        <h2 class="text-center">Perfect picks for...</h2>
        <div class="row">
            <div class="col12 col-xl-6">
                <p class="text-center">Season</p>
                <div class="row">
                    <div class="col-4">
                        <div class="card">
                            <img src="..." class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Product name</h5>
                                <a href="#" class="btn btn-primary">Go</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="categories">
    <div class="container">
        <h2 class="text-center">Categories</h2>
        <div class="row">
            <a href="">
                <div class="card"></div>
            </a>
        </div>
    </div>
</section>

<section id="brands">
    <div class="container">
        <h2 class="text-center">Brands</h2>
        <div class="row">
            <a href="#" class="badge badge-light">Brand</a>
        </div>
    </div>

</section>