{% extends "base.html" %}
{% load static %}

{% block content%}
<div id="hero">
    <div class="image-text">
        <h1>ColourPerfect</h1>
        <h2>Find your perfect colour match makeup.<br> Look fabulous!</h2>
    </div>
</div>
{% if user.is_authenticated %}
<h3>Welcome, {{ user.first_name }} !</h3>
{% endif %}

<section id="suggestions">
    <div class="container">
        <h2 class="text-center">Perfect picks for...</h2>
        
        <div class="row card-deck">
            {% for season, values in suggestions.items %}
            <div class="col-12">
                
                <p class="text-center">{{season}}</p>
            
                <div class="row">
                    {% for prod_col in values %}
                    
                    <div class="col-12 col-md-4">
                        <a href="{% url 'product' id=prod_col.0.pk %}">
                        <div class="card h-100" title="{{ prod_col.0.name }}">
                            <span class="dot product-icon" style="background-color: {{ prod_col.1.hex_value }};" title="{{ prod_col.1.name }}"></span>
                            <div><img src="{{prod_col.0.image_link}}" class="card-img-top" alt="Product image"></div>
                            {% if prod_col.2 %}
                            <span class="px-2 nav-icons accent-colour wishlist-add" title="On your wishlist"><i
                                class="fas fa-heart"></i></span>
                            {% endif %}
                            
                        </div>
                        </a>
                    </div>
                
                    {% endfor %}

                    
                </div>
            </div>
            {% endfor %}
        </div>
       
    </div>
</section>

<section id="categories">
    <div class="container">
        <h2 class="text-center">Categories</h2>
       
            {% include "components/categories.html" %}
        
    </div>
</section>

<section id="brands">
    <div class="container">
        <h2 class="text-center">Brands</h2>
      
            {% include "components/brands.html" %}
       
    </div>

</section>


{% endblock %}