{% load mathfilters %}

<div class="toast" role="alert" aria-live="assertive" aria-atomic="true" data-autohide="false">
    <div class="toast-header bg-light">
        <i class="fas fa-shopping-cart fa-2x pt-1 accent-colour toast-icon"></i>
        <strong class="mr-auto">Basket</strong>
        <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="toast-body">
        {{ message }}
    </div>
<hr>
<div id="mini-basket-wrapper">
<div class="container" id="mini-basket-content">
    {% for product in products %}
    <div class="row">
        <div class="col-2">
            <img src="{{ product.prod_obj.image_link }}" onerror="this.onerror=null;this.src='{{ STATIC_URL }}img/broken-img-url.png';" alt="Product image" class="img-fluid">
        </div>
        <div class="col-8">
        <a href="{% url 'product' product.prod_obj.id %}">{{ product.prod_obj.name }}</a>
        {% if product.colour %}
            <p class="my-0">Colour:<span class="dot" style="background-color: {{ product.colour.hex_value }};" title="{{ product.colour.name }}"></span></p>
        {% endif %}
            <p>Quantity: {{ product.quantity }}</p> 
        </div>
        <div class="col-2">
            <p>€{{ product.prod_obj.price|mul:product.quantity }}</p>
        </div>
    </div>
    {% empty %}
    <p>Your basket is empty.</p>
    {% endfor %}
</div>
<div class="text-center border-top">
    <p class="text-right font-weight-bold">Total: {{ total }}</p>
    <a href="{% url 'checkout' %}" class="btn btn-primary mb-2">Checkout</a>
</div>
</div>
</div>