<div class="container">
    <div class="row">
        <div class="col-12 d-xl-none text-center">
            <!--THIS IS REPEATED SO LATER EXTRACT AND INCLUDE-->
            <h1 class="">Product name</h1>
            <a href="" class="badge badge-light">brand</a>
            <a href="" class="badge badge-light">category</a>
        </div>
        <div class="col-12 col-xl-6">
            <img src="/media/img/summer.jpg" class="img-fluid" alt="Responsive image">
        </div>
        <div class="col-12 col-xl-6">
            <div class="d-none d-xl-block text-center">
                <h1>Product name</h1>
                <a href="" class="badge badge-light">brand</a>
                <a href="" class="badge badge-light">category</a>
            </div>
            <p>Best colours for:</p>
            <table>
                <tr>
                    <td>Spring</td>
                    <td><span class="dot"></span></td>
                    <td><span class="dot"></span></td>
                </tr>

                <tr>
                    <td>Summer</td>
                    <td><span class="dot"></span></td>
                    <td><span class="dot"></span></td>
                </tr>

                <tr>
                    <td>Autumn</td>
                    <td><span class="dot"></span></td>
                    <td><span class="dot"></span></td>
                </tr>

                <tr>
                    <td>Winter</td>
                    <td><span class="dot"></span></td>
                    <td><span class="dot"></span></td>
                </tr>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-12 text-center">
        <form>
            <button type="button" class="quantity-button">-</button>
            <input type="text" name="quantitys" id="quantity" value="0" readonly>
            <button type="button" class="quantity-button">+</button>

            <input type="submit" value="Add to basket" id="submit">
        </form>
    </div>
    </div>
    <div class="row">
        <div class="col-12">
            <p>
                <p>Description <a class="d-xl-none" data-toggle="collapse" href="#description" role="button"
                        aria-expanded="false" aria-controls="collapseExample">
                        <i class="fas fa-chevron-down"></i>
                    </a></p>

            </p>
            <div class="collapse dont-collapse-sm" id="description">
                <div class="card card-body">
                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid.
                    Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea
                    proident.
                </div>
            </div>
        </div>
    </div>
    
</div>