{% extends "base.html" %}
{% load static %}

{% block extracss %}
<link rel="stylesheet" href="{% static 'product/css/product.css' %}">
{% endblock %}

{% block content%}
<div class="container">
    <form action="{% url 'add_to_basket' product.id %}" method="POST">
        {% csrf_token %}

        <div class="row">
            <div class="col-12 d-xl-none text-center">
                {% include "components/product-top.html" %}
            </div>
            <div class="col-12 col-xl-6 text-center image-wrapper">

                <img src="{{ product.image_link }}"
                    onerror="this.onerror=null;this.src='{{ STATIC_URL }}img/broken-img-url.png';"
                    class="img-fluid mt-3 mt-md-4 mt-xl-0" id="product-image" alt="Responsive image">


            </div>
            <div class="col-12 col-xl-6">
                <div class="d-none d-xl-block text-center">
                    {% include "components/product-top.html" %}
                </div>
                <p class="font-italic"><u>Best colours for:</u></p>
                {% if has_colours %}
                <table>
                    {% for season, shades in colours.items %}
                    <tr>
                        <th>{{ season }}</th>
                        {% for shade in shades %}
                        <td class="colours">

                            <div class="d-inline-block text-center dot-wrapper">
                                <input type="radio" id="{{shade.hex_value}}" name="colour" value="{{shade.hex_value}}">
                                <label for="{{shade.hex_value}}"><span class="dot"
                                        style="background-color: {{ shade.hex_value }};"
                                        title="{{ shade.name }}"></span></label>
                            </div>


                        </td>
                        {% empty %}
                        <td class="no-match ml-2 mb-2"><span>No perfect colour matches for {{ season }} :(<br> You can
                                always be a rebel and choose
                                a colour anyway! :)</span></td>
                        {% endfor %}
                    </tr>
                    {% endfor %}
                </table>
                {% else %}
                <p>It looks like this product doesn't have different colours. It might be that it's just clear or
                    available in only one standard colour - check out the description!</p>
                {% endif %}
            </div>
        </div>
        <div class="row my-4">
            <div class="col-12 text-center">

                {% include "components/quantity.html" %}

                <input type="hidden" name="redirect_url" value="{{ request.path }}">
                <input type="hidden" name="has_colours" value="{{ has_colours }}">
                <input type="submit" name="basket" value="Add to basket" class="btn btn-primary" id="submit">
                <button type="submit" name="wishlist"
                    class="px-2 nav-icons accent-colour wishlist-add btn btn-light border ml-md-5 d-block d-md-inline-block mx-auto mt-3 mt-md-0"
                    title="Add to wishlist"><i class="fas fa-heart"></i>Add to wishlist</button>

            </div>
            <div>
            </div>
        </div>
    </form>
    <div class="row mb-5">
        <div class="col-12">
            <p>
                <p class="font-weight-bold">Description <a class="d-xl-none" data-toggle="collapse" href="#description"
                        role="button" aria-expanded="false" aria-controls="collapseExample">
                        <i class="fas fa-chevron-down"></i>
                    </a></p>

            </p>
            <div class="collapse dont-collapse-sm" id="description">
                <div class="card card-body">
                    {% if product.description == "" %}
                    <p>No description available for this product, sorry!</p>
                    {% else %}
                    {{ product.description }}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>




</div>
{% endblock %}