@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

/* these settings make footer stick to the bottom */
html,
body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

.container {
    flex: 1 0 auto;
}

footer {
    flex-shrink: 0;
    background-color: #fc4f6f;
    width: 100%;
    padding: 1rem 0;
}

/**/
footer,
footer a {
    color: #ffffff;
    font-weight: 900;
}

footer a:hover {
    color: #e6e6e6;
    text-decoration: none;
}

footer .fab,
footer .fas {

    padding-right: .7rem;
}

footer p {
    margin: .5rem 0;
}

.accent-colour {
    color: #fc4f6f;
}

/*logo styles*/
.lip-bottom {
    fill: #95ffaa;
}

.lip-up {
    fill: #fc4f6f;
}

.lipstick-middle {
    fill: #54f7f0;
}

.lipstick-colour {
    fill: #e399ff;
}

.lipstick-base {
    fill: #ffd500;
}

.navbar-light .navbar-brand {
    font-family: 'Lobster', cursive;
    font-size: 2rem;
    color: #595959;
}

/**/

.form-inline .form-control {
    display: inline-block;
    width: auto;
    vertical-align: middle;
}

.nav-icons {
    vertical-align: middle;
}

.nav-icons:hover {
    color: #c90327;
}

.nav-btn {
    border: solid #fc4f6f 1px;
}

.nav-btn:hover,
a.badge-light:hover,
.btn-primary:hover {
    background-color: #c90327;
    color: #ffffff;
    border-color: #c90327;
}

.dropdown-menu {
    max-height: 70vh;
    overflow-y: auto;
}

.btn-primary {
    color: #fff;
    background-color: #fc4f6f;
    border-color: #fc4f6f;
}

#wishlist, #basket, #lists {
    position: relative;
    display: inline-block;
}

#search-form {
    display: inline-block;
}

#total-badge {
    position: absolute;
    top: 0;
    right: 0;
    border: solid 1px darkslategray;
    padding: 1px;
    font-size: 60%;
}

#hero {
    background-image: url("/static/img/hero.jpg");
    background-size: cover;
    height: 40vh;
    position: relative;
    text-align: center;
    color: #080808;
}

.image-text {

    background-color: rgba(255, 255, 255, .7);
    padding: 1rem;
}

.image-text>h1 {
    font-family: 'Lobster', cursive;
}

.badge.brand-badge {
    background-color: #fc4f6f;
    font-size: 1.5rem;
}

.dot {
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    display: inline-block;
}

.product-icon {
    position: absolute;
    right: 0.5rem;
    bottom: 0.5rem;
}

.top-right-icon {
    position: absolute;
    right: 0.5rem;
    top: 0.5rem;
}

#quantity,
.quantity-button {
    width: 2rem;
    text-align: center;
    padding: 1px;
}

.colours input[type="radio"] {

    opacity: 0;
    position: fixed;
    width: 0;

}

.colours label,
.colours span {
    margin: 0;
    vertical-align: middle;
}

.colours label {
    padding: 2px;
}


.colours span:hover {
    width: 2.2rem;
    height: 2.2rem;
}

.colours input[type="radio"]:focus+label {
    border: 1px solid rgb(185, 185, 185);
    border-radius: 50%;
}

.colours input[type="radio"]:checked+label {
    border: 3px solid rgb(134, 134, 134);
    border-radius: 50%;
}

/* styles for toasts */
.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 99999999999;
}

#mini-basket-content {
    overflow-y: scroll;
    overflow-x: hidden;
    max-height: 20vh;
}



@media (max-width: 1199px) {

    #nav-actions {
        width: 100%;
        text-align: right;
    }

    input[type=search] {
        width: 130px;
        -webkit-transition: width 0.4s ease-in-out;
        transition: width 0.4s ease-in-out;
    }

    .form-inline .form-control {
        width: 130px;
    }


    /* When the input field gets focus, change its width to 100% */
    input[type=search]:focus {
        width: 80%;
    }



}

@media (min-width: 1200px) {
    .collapse.dont-collapse-sm {
        display: block;
        height: auto !important;
        visibility: visible;
    }
}