#criteria {
    list-style: none;
    text-indent: -1em;
}

#test-img {
    position:absolute;
    right: 0;
    bottom: 5vh;
}

@media (min-width: 576px) {
    #product-details {
        margin-left: 15px;
    }
}