{% extends "base.html" %}
{% load static %}
{% load mathfilters %}

{% block extracss %}
<link rel="stylesheet" href="{% static 'basket/css/basket.css' %}">
{% endblock %}

{% block content%}

<div class="container">
    <div class="row text-center">
        <div class="col-12">
            <h1 class="my-5">Your Basket</h1>
        </div>
    </div>
    <div class="row text-center mb-4">
        <div class="col-12 col-xl-6">
            <h2>Total €{{ total }}</h2>
        </div>
        <div class="col-12 col-xl-6">
            <a href="{% url 'checkout' %}" class="btn btn-primary">Checkout</a>
        </div>
    </div>
    {% for product in products %}
    <div class="row basket-items">
        <div class="col-2">
            <img src="{{ product.prod_obj.image_link }}" onerror="this.onerror=null;this.src='{{ STATIC_URL }}img/broken-img-url.png';" alt="Product image" class="img-thumbnail w-100">
        </div>
        <div class="col-4 pl-4 pl-md-5">
            <a href="{% url 'product' product.prod_obj.id %}" class="product-name">{{ product.prod_obj.name }}</a>
            <p class="mt-xl-4"><span class="dot small-dot mr-2" style="background-color: {{ product.colour.hex_value }};"></span><span class="colour-name d-none d-md-inline">{{ product.colour.name }}</span></p>
            <p class="mt-xl-4">€{{ product.prod_obj.price }}</p>
        </div>
        <div class="col-6" id="actions">
            
            <form class="d-inline-block" id="basket-form" action="{% url 'adjust_quantity' %}" method="POST">
                {% csrf_token %}
                {% include "components/quantity.html" %}
                <div class="d-inline-block subtotal">
                <span class="font-weight-bold ml-md-4">€{{ product.prod_obj.price|mul:product.quantity }}</span>
            </div>
                <input type="hidden" name="item_id" value="{{ product.item_id }}">
               
                <input class="btn btn-primary btn-sm m-2" type="submit" value="Update">
                <a href="{% url 'delete' product.item_id %}"><i class="fas fa-2x fa-trash-alt accent-colour my-2 mx-md-3 mx-xl-5 delete"></i></a>
            </form>
            
        </div>
    </div>

    {% empty %}
    <p class="my-5 text-center">There are no items in your basket. Browse our categories and brands, or search for products and put some perfect colours in your basket!</p>
    {% endfor %}

    <hr>
    <div class="row text-right">
        <div class="col-12">
            <p><span>TOTAL</span>
                <strong>€{{ total }}</strong></p>
        </div>
    </div>
    <div class="row text-center">
        <div class="col-12">
            <a href="{% url 'checkout' %}" class="btn btn-primary my-4">Checkout</a>
        </div>
    </div>
</div>
{% endblock %}