{% extends "base.html" %}
{% load static %}

{% block content%}

<div class="container">
    <div class="row text-center">
        <div class="col-12">
            <h1>Your Basket</h1>
        </div>
    </div>
    <div class="row text-center">
        <div class="col-12 col-xl-6">
            <h2>Total €{{ total }}</h2>
        </div>
        <div class="col-12 col-xl-6">
            <a href="{% url 'checkout' %}" class="btn btn-primary">Checkout</a>
        </div>
    </div>
    {% for product in products %}
    <div class="row no-gutters">
        <div class="col-2">
            <img src="{{ product.prod_obj.image_link }}" alt="Product image" class="img-thumbnail">
        </div>
        <div class="col-4">
            <a href="{% url 'product' product.prod_obj.id %}">{{ product.prod_obj.name }}</a>
            <p><span class="dot" style="background-color: {{ product.colour.hex_value }};"></span><span>{{ product.colour.name }}</span></p>
        </div>
        <div class="col-4">
            
            <form id="basket-form" action="{% url 'adjust_quantity' %}" method="POST">
                {% csrf_token %}
                {% include "components/quantity.html" %}
                <span>€{{ product.prod_obj.price }}</span>
                <input type="hidden" name="item_id" value="{{ product.item_id }}">
                <input type="submit" value="Update">
            </form>
            <a href="{% url 'delete' product.item_id %}">Delete</a>
        </div>
    </div>

    {% empty %}
    <p>There are no items in your basket. Browse our categories and brands, or search for products and put some perfect colours in your basket!</p>
    {% endfor %}

    <hr>
    <div class="row text-right">
        <div class="col-12">
            <p><span>TOTAL</span>
                <span>€ {{ total }}</span></p>
        </div>
    </div>
    <div class="row text-center">
        <div class="col-12">
            <a href="{% url 'checkout' %}" class="btn btn-primary">Checkout</a>
        </div>
    </div>
</div>
{% endblock %}