{% extends "base.html" %}
{% load static %}

{% block extracss %}
    <link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">
{% endblock %}

{% block content%}
<div class="container">
<form action="{% url 'checkout' %}" method="POST" id="payment-form">
    {% csrf_token %}
    <div class="row mt-xl-4">
    <fieldset class='col-12 col-xl-6'>
        <legend class="fieldset-label">Contact details</legend>
        {{ order_form.first_name | as_crispy_field }}
        {{ order_form.last_name | as_crispy_field }}
        {{ order_form.email_address | as_crispy_field }}
        {{ order_form.phone_number | as_crispy_field }}
    </fieldset>
    <fieldset class='col-12 col-xl-6'>
        <legend class="fieldset-label">Delivery Address</legend>
        {{ order_form.street_address1 | as_crispy_field }}
        {{ order_form.street_address2 | as_crispy_field }}
        {{ order_form.town_or_city | as_crispy_field }}
        {{ order_form.postcode | as_crispy_field }}
        {{ order_form.country | as_crispy_field }}

        {% if user.is_authenticated %}
        <label for="save">Save the details</label>
        <input type="checkbox" id="save" name="save" checked>
        {% else %}
        <p><a href="{% url 'account_login' %}">Login</a> to save the details or</p> 
        <p><a href="{% url 'account_signup' %}">Create an account</a></p>
        {% endif %}
    </fieldset>
</div>
    <fieldset>
        <legend class="fieldset-label">Payment</legend>
        <!-- A Stripe card element will go here -->
        <div class="mb-3" id="card-element"></div>

        <!-- Used to display form errors -->
        <div id="card-errors" role="alert"></div>
    </fieldset>

    <div class="text-center">                    
        <a class="px-2 nav-icons accent-colour wishlist-add btn btn-light border mr-1 mr-md-4" href="{% url 'basket' %}">
            <span>See your basket</span>
        </a>
        <button id="submit-button" class="btn btn-primary">Confirm Order & Pay</button>
        <p class="mt-1 mb-4">
            <span>Your card will be charged <strong>€{{ total }}</strong></span>
        </p>
    </div>
</form>
</div>
{% endblock %}

{% block extrajs %}
{{ stripe_public_key|json_script:"id_stripe_public_key" }}
{{ client_secret|json_script:"id_client_secret" }}
<script src="{% static 'checkout/js/stripe_elements.js' %}"></script>
{% endblock %}