<!DOCTYPE html>
<html lang="en">
{% load static %}
{% load socialaccount %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="Description" content="Enter your description here" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
    <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% block extracss %}
    {% endblock %}
    <title>ColourPerfect{% block extra_title %}{% endblock %}</title>
    <script src="https://js.stripe.com/v3/"></script>
</head>

<body>
    {% include "components/nav.html" %}

    {% if messages %}
        <div class="message-container">
            {% for message in messages %}
                {% with message.level as level %}
                    {% if level == 40 %}
                        {% include 'components/toasts/error.html' %}
                    {% elif level == 70 %}
                        {% include 'components/toasts/wishlist-toast.html' %}
                    {% elif level == 25 %}
                        {% include 'components/toasts/success.html' %}
                    {% elif level == 60 %}
                        {% include 'components/toasts/basket-toast.html' %}
                    {% else %}
                        {% include 'components/toasts/message.html' %}
                    {% endif %}
                {% endwith %}
            {% endfor %}
        </div>
    {% endif %}

    {% block content %}
    {% endblock %}

    {% include "components/footer.html" %}



    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.1/umd/popper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <script src="{% static 'js/script.js' %}"></script>
    

    {% block extrajs %}
    {% endblock %}
</body>

</html>