<footer>
    <div class="container">
        <div class="row">
            <div class="col-6 text-center">
                <a href="{% url 'delivery_returns' %}"><i class="fas fa-truck"></i>Delivery & Returns</a>
            </div>
            <div class="col-6 text-center">
                <a href="tel:+00111-222-333" aria-label="call us"><i class="fas fa-phone"></i>Customer Service: +00111-222-333</a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 offset-md-4 text-center">
                <p>Find us on:</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 offset-md-4 text-center">
                <a href="https://www.facebook.com/" target="_blank"><i class="fab fa-facebook-square fa-2x"></i></a>
                <a href="https://www.instagram.com/" target="_blank"><i class="fab fa-instagram fa-2x"></i></a>
                <a href="https://www.youtube.com/" target="_blank"><i class="fab fa-youtube-square fa-2x"></i></a>
             </div>
        </div>
    </div>
</footer>