<div class="container">
    <h1>About us</h1>
    <div>
        <p>ColourPerfect is a unique online makeup shop that offers colour matching products for your beauty type.
            We sell a wide range of products of the most popular brands. Each product description comes with a
            suggestion which shades are good for different beauty types!</p>
        <p>
            <p>Categories<a data-toggle="collapse" href="#categories" role="button" aria-expanded="false"
                    aria-controls="categories">
                    <i class="fas fa-chevron-down"></i>
                </a></p>

        </p>
        <div class="collapse" id="categories">
            <div class="card card-body">
                Categories component will go here.
            </div>
        </div>
        <p>
            <p>Brands<a data-toggle="collapse" href="#brands" role="button" aria-expanded="false"
                    aria-controls="brands">
                    <i class="fas fa-chevron-down"></i>
                </a></p>

        </p>
        <div class="collapse" id="brands">
            <div class="card card-body">
                Brands component will go here.
            </div>
        </div>
    </div>
    <div>
        <h2>Beauty types</h2>
        <p>
            Do you remeber that time when you saw that perfect lipstick shade on your friend's lips, so you rushed
            to
            the shop to buy the exactly the same one, and when you did it turned out it did not look so perfect on
            you? We have all been there, and trust us - there is nothing wrong with you! Your friend probably had a
            different beauty type than you, and would not look great in a shade tha makes you look like a million
            dollars! The key is to find out what your beauty type is and what colours will help you to highlight
            your natural beauty. That being said, it does not mean that particular colours are definitely off limits
            for you! It is rather about finding the right shade of the colour.
        </p>
        <p>
            Take our test to find out which of the four beauty types you are and what colours are best for you!
        </p>
        <div class="text-center">
            <a href="" class="btn btn-primary">Take the test!</a>
        </div>
    </div>
    <div class="text-center">
        <h2>Contact</h2>
        <p>If you have any questions do not hesitate to contact our Customer service!</p>
        <a href="tel:+00111-222-333" aria-label="call us"><i class="fas fa-phone"></i>Customer Service: +00111-222-333</a>
        <p>Click the link below to find out about our delivery and returns policy!</p>
        <a href=""><i class="fas fa-truck"></i>Delivery & Returns</a>
    </div>
</div>