<div class="container">
    <h1 class="text-center">Find your beauty type!</h1>
    <p>
        The 4 seasons colour analysis theory is based on four colour types: Spring, Summer, Autumn and Winter. Which
        seasonal type you are depends on two basic variables:
    </p>
    <ul>
        <li>the undertone of your skin, hair and eyes (warm/golden vs cool/ashy)</li>
        <li>how light vs deep your overall colouring and specifically your hair is</li>
    </ul>
    <p>
        The seasons represent the four possible variations of these two variables: If your natural hair colour is
        lighter than medium brown, you would be typed as either a Spring or a Summer; if it’s darker you are a
        Winter or an Autumn. If your skin tone and hair have a warm undertone, or you are a natural red-head, you
        would be classed as either a Spring or an Autumn; if your skin has a blue-ish, cool undertone and your hair
        is more ashy and has no golden or red highlights, you are either a Summer or a Winter. When you know your
        beauty type, you can then choose colours of makeup that is most flattering for you!
    </p>
    <p class="font-weight-bold">
        Take our test to find out which beauty type you are and what colours are best to highlight your natural
        beauty.
    </p>
    <div>
        <form action="">
            <p>Question</p>
            <div class="form-check">
                <input class="form-check-input" type="radio" id="answer1" name="answer" value="answer1">
                <label class="form-check-label" for="answer1">
                    Answer1
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" id="answer2" name="answer" value="answer2">
                <label class="form-check-label" for="answer2">
                    Answer2
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" id="answer3" name="answer" value="answer3">
                <label class="form-check-label" for="answer3">
                    Answer3
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" id="answer4" name="answer" value="answer4">
                <label class="form-check-label" for="answer4">
                    Answer4
                </label>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>

        </form>
    </div>
</div>
